<article class="post">
    <div class="location">
        <h2>{{location}}</h2>
        <p>{{type}}</p>
    </div>
    <div class="meta">
        {{user.username}} | {{created_at}}
    </div>
</article>