<section class="dashboard-container">
    <div class="left-column">
    <h2><u>Create New Post</u></h2>

    <form class="new-post-form pure-form pure-form-stacked">
        {{> form }}
        <button type="submit" class="btn pure-button">Create Post</button>
    </form>
    </div>
{{#if posts.length}}
    <div class="right-column">
    <h2><u><center>Your Posts</center></u></h2>
    <ol class="style-list">
        {{#each posts as |post|}}
        <li>
            {{> post-info post}}
            <a href="/dashboard/edit/{{post.id}}" class="edit-link pure-button">Edit post</a>
        </li>
        {{/each}}
    </ol>
    </div>
</section>
{{/if}}

<script src="/javascript/add-post.js"></script>