<article>
    <a href="/dashboard"> &larr; Back to dashboard</a>
    <h2>
        Edit Post
    </h2>
    <form class="edit-post-form pure-form pure-form-stacked">
        {{> form }}
        <button type="submit" class="btn pure-button">Save Post</button>
        <button type="button" class="delete-post-btn pure-button">Delete post</button>
    </form>
</article>

<script src="/javascript/edit-post.js"></script>
<script src="/javascript/delete-post.js"></script>