<form class="pure-form pure-form-stacked">
    {{> form }}
    <button type="submit" class="btn pure-button">Search</button>
</form>

<ol class="post-list">
    {{#each posts as |post|}}
    <li>
        {{> post-info post }}
    </li>
    {{/each}}
</ol>