<form>
    {{> form }}
    <button type="submit" class="btn">Search</button>
</form>

<ol class="post-list">
    {{#each posts as |post|}}
    <li>
        {{> post-info post }}
    </li>
    {{/each}}
</ol>